<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Good man card</title>
    <script src="/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/index.css">
    <!-- 引入组件库 -->
    <script src="/index.js"></script>
    <script src="/axios.min.js"></script>
</head>
<body>
<div id="app">

    <el-row type="flex" justify="center">
        <el-col :md="14">
            <div style="margin-bottom: 20px;margin-top: 10px">
                <span style="color: #409EFF;">已完成：{{statistic.total}}</span>
                <span style="color: #67C23A;margin-left: 20px;">成功：{{statistic.success}}</span>
                <span style="float: right;color: #909399;">Create by mkit.</span>
            </div>
            <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="查询任务" name="query">
                    <el-form :model="taskQuery" class="demo-form-inline">
                        <el-form-item label="任务ID">
                            <el-input v-model="taskQuery.rid" placeholder="任务ID"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="getTaskInfo">查询</el-button>
                        </el-form-item>
                    </el-form>
                    <div v-show="taskInfo.rid != null && taskInfo.rid !== ''">
                        <p>任务ID: {{taskInfo.rid}}</p>
                        <p>任务状态: {{taskStateFormatter(taskInfo.state)}}</p>
                        <p>更新时间: {{taskInfo.updateTime}}</p>
                        <p v-show="taskInfo.rank">等待任务数：{{taskInfo.rank}}</p>
                        <p v-show="taskInfo.result">结果：{{taskInfo.result}}</p>
                        <p v-show="taskInfo.remarks">备注：{{taskInfo.remarks}}</p>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="创建任务" name="add">
                    <el-result :icon="addResult.success ? 'success': 'error'" :title="addResult.title" v-show="showResult">
                        <template slot="subTitle">
                            {{addResult.message}}
                        </template>
                        <template slot="extra">
                            <el-button type="primary" size="medium" @click="onBackClicked">返回</el-button>
                        </template>
                    </el-result>
                    <el-form ref="form" :model="params" label-width="80px" v-show="!showResult">
                        <el-form-item label="账号">
                            <el-input v-model="params.account"></el-input>
                        </el-form-item>
                        <el-form-item label="密码">
                            <el-input v-model="params.password" type="password"></el-input>
                        </el-form-item>
                        <el-form-item label="学校">
                            <el-input v-model="params.school"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitTask">提交</el-button>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>
        </el-col>
    </el-row>
</div>
<script>
  const app = new Vue({
    el: '#app',
    data() {
      return {
        type: 'sdsafe',
        params: {
          account: null,
          password: null,
          school: null
        },
        taskQuery: {
          rid: '',
        },
        taskInfo: {
          rid: '',
          state: '',
          updateTime: '',
          rank: ''
        },
        showResult: false,
        addResult: {
          success: false,
          title: '提交成功',
          message: '-',
          rid: '-'
        },
        statistic: {
          total: '',
          successCount: ''
        },
        activeName: 'query'
      }
    },
    created() {
      this.getStatisticInfo();
    },
    methods: {
      onBackClicked() {
        this.showResult = false;
      },
      taskStateFormatter(value) {
        return ({
          0: '排队中',
          1: '正在执行',
          2: '执行成功',
          3: '执行失败'
        })[value]
      },
      handleClick(tab, event) {
        this.showResult = false
      },
      getStatisticInfo() {
        axios.get(`/task/statistic?type=${this.type}`)
          .then(({data}) => {
            if (data.code !== 0) {
              return
            }
            this.statistic = data.data;
          })
      },
      getTaskInfo() {
        axios.get(`/task/get?rid=${this.taskQuery.rid}`)
          .then(({data}) => {
            if (data.code !== 0) {
              this.$message.error(data.message)
              this.taskInfo = {};
              return
            }
            this.taskInfo = data.data;
          })
      },
      submitTask() {
        axios.post('/task/add', {
          type: this.type,
          params: JSON.stringify(this.params)
        }).then(({data}) => {
          if (data.code !== 0) {
            this.addResult.success = false;
            this.addResult.title = '任务提交失败';
            this.addResult.message = data.message;
            this.showResult = true
            return
          }

          this.addResult.success = true;
          this.addResult.title = '任务提交成功';
          this.addResult.message = `任务ID: ${data.data.rid}  (请保存好任务ID,用于查询任务进度)`;
          this.showResult = true
        })
      },
    }
  })
</script>
</body>
</html>